<%= turbo_frame_tag dom_id(post) do %>
  <div class="card my-4">
    <div class="card-body">
      <%= render(partial: "discussions/posts/header", locals: { post: post }) %>
      <%= post.body %>
    </div>
  </div>
<% end %>